<h1>Public Recipes</h1>
<% if @recipes.empty? %>
  <h2>No public recipes yet <%= link_to 'Create a public recipe!', new_recipe_path%></h2>
<% else %>
  <% @recipes.each do |recipe| %>
    <%= link_to recipe.name, recipe, class: "recipe-link title-link" %>
    <p>By: <%= recipe.user.name %> </p>
  <% end %>
<% end %>
