<h1><%= @recipe.name %></h1>
<div>
  <p>Preparation time: <%= @recipe.preparation_time %> hour </p>
  <p>Cooking time: <%= @recipe.cooking_time %> hour </p>
  <% if @recipe.public %>
    <p>Public: Yes</p>
  <% else %>
    <p>Public: No</p>
  <% end %>
</div>
